*{
    padding: 0;
    margin: 0;
}
#ordPic{
    height: 30px;
    margin-right: 10px;
}
.useless{
    display: none;
}
.mainDiv{
    width: 90%;
    margin-left: 5%;
}
#headist{
    margin-top: 10px;
 font-size: 22px;
}
#confLine{
    font-size: 14px;
    background: #ffb830;
    padding: 5px;
}

.info{
    margin-top: 10px;
}
.info{
    background: white;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.innerInfo{
    padding: 10px;
}

#productDet{
    background: white;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #0080fe;
}
#innerproductDet{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
    padding-top: 20px;
}
.btnSection{
    margin-right: 15%;
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: right;
    margin-top: 30px;
}
.place{
    background: #ffb830;
    outline: none;
    border: none;
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
    color: white;
    font-weight: bold;
    
    
}
#placelink{
    text-decoration: none;
    color: white;
}
.cancelBtn{
    background: white;
    outline: none;
    border: 1px solid  #ffb830;
    color:  gray;
    font-weight: bold;
    padding: 10px;
    width: 120px;
    border-radius: 10px;
   
}
.laeb{
    font-family: 'Varela Round', sans-serif;
}
.cancelBtn a{
    text-decoration: none;
    color:  gray;
    font-weight: bold;
}
#locatePng{
    height: 15px;
}
#locationDiv{
    
    margin-top: 10px;
}
.group{
    
    display: grid;
    grid-template-columns: 10% 50%;
    gap: 20px;
    

}
.groups{
    
    display: grid;
    grid-template-columns: 7% 50%;
    gap: 20px;
    width: 80%;
}
.lefts{
    display: grid;
    grid-template-columns: 25% 50%;
    gap: 20px;
    width: 100%;
}
.inputeder{
    width: 130%;
    height: 42px;
    border: none;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 4px;
}
.inputeds{
    height: 42px;
    border: none;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 4px;
    width: 20%;
}
.trials{
    display: grid;
    grid-template-columns: 40% 50%;
}
#groupContainer{
    width: 90%;
    margin-left: 20px;
    margin-top: 20px;
}
.inputed{
    height: 42px;
    border: none;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 4px;
}
.tag{
    font-size: 12px;
    color: gray;
    text-align: right;
    padding-top: 15px;
}

.ttl{
    width: 60%;
}