* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.mainDiv {
  width: 100vw;
  display: flex;
  justify-content: center;
}
.photo {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profileTable {
  width: 90%;
  margin-top: 20px;
  font-family: "Open Sans", sans-serif;
  justify-content: center;
  color: #555;
  border: none;
}
.contf {
  margin-top: 10px;
  margin-bottom: 50px;
  height: 78vh;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: flex;
}
.username {
  display: block;
  height: 52px;
  padding: 5px;
  background: #eee;
  width: 90%;
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.usernameb {
  display: block;
  height: 52px;
  background: #5a5bf3;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.usernameh {
  display: block;
  height: 52px;
  background: #eee;
  width: 90%;

  margin-top: 10px;
  margin-bottom: 10px;
}
.user_name {
  border-radius: 5px;
  outline: none;
  border: none;
  width: 100%;
  height: 32px;
  padding-left: 5px;
  background: #eee;
}
.us {
  font-size: 10px;
  padding: 5px;
  color: #888;
}
.uss {
  font-size: 10px;
  padding: 5px;
  color: #888;
  margin-left: 10%;
  margin-bottom: 10px;
}
.back {
  background: #eee;
  height: 42px;
  width: 100%;
  border: none;
  color: #888;
}

.fileUpload {
  margin-left: 10%;
}
.name {
  font-size: 32px;
  font-family: "Fredoka", sans-serif;
  margin-top: 10px;
  margin-left: 10px;
}
.formt {
  background-image: url(/Pet/uploads/updateProfileBack3.svg);
  background-size: 100px 100px;
}
#forBckgnd {
  width: 60%;
  display: flex;
  flex-direction: column;

  background-image: linear-gradient(to right, #f4f7fa, #ededed);
}
.innerFormt {
  margin-top: 30px;
  display: grid;
  margin-bottom: 20%;
  grid-template-columns: 50% 50%;
}
@media (max-width: 600px) {
  .formt {
    margin-top: 0%;
    height: 100vh;
    width: 100vw;
  }

  .rightSide {
    display: none;
  }
}
#profs {
  height: 50vh;
  width: 85%;
  border-radius: 8px;
}
.piktur {
  width: 100%;
  height: 70%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.intpus {
  height: 30%;
}
.intpuss {
}
#regs {
  background: #ffb830;
  outline: none;
  border: 1px solid #ffb830;
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  margin-right: 10px;
  color: white;
  font-weight: bold;
  float: right;
}
#regs2 {
  background: #fff;
  outline: none;
  border: 1px solid #ffb830;
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  margin-right: 10px;
  color: #ffb830;
  font-weight: bold;
  float: right;
}
.btn {
  margin-top: 10px;
  margin-bottom: 10px;
}
.bottomBtn {
  height: 52px;
}
#bckHm {
  color: #ffb830;
  text-decoration: none;
}
