body {
  background-image: linear-gradient(to bottom right, #fff, #bddef0);
  display: flex;
  height: 100vh;
  justify-content: center;
}
.mainContainer {
  height: 80vh;
  width: 80vw;
  margin-top: 5vh;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
#signUpHead {
  font-family: "Varela Round", sans-serif;
  font-size: 28px;
  width: 85%;
}
.insideDiv {
  padding: 10px;
  display: flex;
  height: 100%;
}
.rightSide {
  width: 60%;
  height: 95%;
  padding-left: 8px;
}
.leftSide {
  width: 40%;
  height: 95%;
}
#mandaue {
  display: none;
}
#Cebu {
  display: none;
}
#Consolacion {
  display: none;
}
#Lapulapu {
  display: none;
}
.label {
  font-size: 12px;
  font-family: "Varela Round", sans-serif;
  margin: 0;
  margin-top: 10px;
  margin-left: 5px;
  color: #888;
}
.fieldMain {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 80px 80px 80px;
  column-gap: 20px;
  row-gap: 30px;
  width: 90%;
}
.inputs {
  height: 42px;
  width: 95%;
  margin-left: 5px;
  outline: none;
  border: none;

  /* border-bottom: 1px solid #888; */
}
.fieldCont {
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
}
#imgLeft {
  height: 40%;
  margin-top: 80%;
  float: right;
}
#sngup {
  width: 90%;
  margin-left: 10px;
  margin-top: 30px;
  height: 52px;
  outline: none;
  border: none;
  border-radius: 3px;
  background: #0080fe;
  color: white;
}
.topDiv {
  display: flex;
}
#homies {
  margin-top: 5%;
  height: 30px;
  width: 30px;
}
