body {
  background-image: linear-gradient(to bottom right, #fff, #bddef0);
  display: flex;
  height: 100vh;
  justify-content: center;
}
.mainContainer {
  width: 70vw;
  margin-top: 5vh;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
#signUpHead {
  font-family: "Varela Round", sans-serif;
  font-size: 20px;
  width: 85%;
}
.insideDiv {
  padding: 10px 0px 10px 10px;
  display: flex;
}
.rightSide {
  width: 60%;
  height: 95%;
  padding-left: 8px;
}
.leftSide {
  width: 40%;
  height: 95%;
}
#mandaue {
  display: none;
}
#Cebu {
  display: none;
}
#Consolacion {
  display: none;
}
#Lapulapu {
  display: none;
}
.label {
  font-size: 12px;
  font-family: "Varela Round", sans-serif;
  margin: 0;
  margin-top: 10px;
  margin-left: 5px;
  color: #888;
}
.fieldMain {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 80px 80px 80px;
  column-gap: 20px;
  row-gap: 30px;
  width: 90%;
}
.inputs {
  height: 42px;
  width: 95%;
  margin-left: 5px;
  outline: none;
  border: none;

  /* border-bottom: 1px solid #888; */
}
.fieldCont {
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
}
#imgLeft {
  height: 100%;
  width: 50%;
  margin-left: 30%;
}
.imgCont {
  height: 30%;
  margin-top: 20%;
  padding-top: 20%;
  background: rgb(75, 166, 255);
  background: radial-gradient(
    circle,
    rgba(75, 166, 255, 0.4374124649859944) 0%,
    rgba(255, 255, 255, 1) 50%
  );
  padding-bottom: 20%;
}
.oneS {
  font-weight: bold;
  font-family: "Varela Round", sans-serif;
  font-size: 28px;
  text-align: right;
  margin-right: 30px;
  margin-top: 20%;
  color: #333;
}
.welss {
  font-weight: bold;
  font-size: 20px;
  float: right;
  margin-right: 30px;
  color: #4e8cca;
  font-family: "Varela Round", sans-serif;
}
#sngup {
  width: 90%;
  margin-left: 10px;
  margin-top: 30px;
  height: 52px;
  outline: none;
  border: none;
  border-radius: 3px;
  background: #0080fe;
  color: white;
}
.topDiv {
  display: flex;
  margin-bottom: 8px;
  margin-top: 2%;
}
#homies {
  margin-top: 2%;
  height: 30px;
  width: 30px;
}
@media (max-width: 800px) {
  .leftSide {
    display: none;
  }
  .rightSide {
    width: 100vw;
    margin-left: 5%;
  }
  .mainContainer {
    width: 100vw;
    margin-top: 0;
  }
}
