* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  background: white;
}
#header {
  background: #0080fe;
  /*box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);*/
  height: 60px;
  width: 98%;
  min-width: 500px;
  position: fixed;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  z-index: 20;
  padding-left: 2%;
  padding-right: 2%;
}

#logo {
  width: 10%;
  height: 70px;
  float: left;
  color: #444;

  display: flex;
  padding-left: 80px;
  justify-content: center;
}

#logo img {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  margin-top: 10px;
  float: right;
}
#logo a {
  text-decoration: none;
  margin-top: 15px;
  font-family: "Fredoka One", cursive;
  color: #ffb830;
  font-size: 20px;
  margin-right: 10px;
}

#link {
  width: 4%;
  height: 80%;
}
.dropcontent {
  list-style-type: none;
  display: none;
  margin-left: -5%;
  position: absolute;
  background-color: rgba(218, 231, 240, 0.9);
  width: 250px;
  border-radius: 8px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
#link:hover .dropcontent {
  display: inline;
}

.dropcontent li a {
  padding: 10px;
  width: 100%;
  text-decoration: none;
  color: #444;
}
.dropcontent li {
  width: 100%;
  display: inline-flex;
}
.dropcontent li:hover {
  background-color: rgba(243, 243, 243, 0.9);
  transition: 0.5s;
}
.profileImg {
  border-radius: 30px;
  width: 50px;
  height: 50px;
  color: #333;
  float: center;
  margin-top: 5px;
}
#search {
  width: 100%;
  height: 70px;
  display: flex;
}
#search form {
  height: 100%;
  width: 100%;
  display: inline-flex;
}

#search form input {
  border: none;
  font-family: "Varela Round", sans-serif;
  font-size: 14px;
  width: 90%;
  height: 35px;
  padding-left: 2%;
  outline: none;
  margin-top: 10px;
  margin-left: 35px;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}

#search_btn {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  outline: none;
  border: none;
  width: 50px;
  height: 35px;
  font-weight: bold;
  color: #444;
  margin-top: 10px;
}
.searchIcon {
  height: 16px;
  width: 25px;
}

#cart_btn {
  border-radius: 3px;
  border-width: 0px;
  width: 60%;
  height: 36px;
  background: white;
  font-weight: bold;
  color: #444;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

#cart_btn a {
  text-decoration: none;
  color: #777;
  font-weight: bold;
  display: block;
  font-family: "Varela Round", sans-serif;
}
.imageDrop {
  height: 10px;
}
#login_btn {
  border-radius: 3px;
  border: 1px solid #ffb830;
  width: 80%;
  height: 36px;
  background: #ffb830;
  color: #fff;
  float: right;
  margin-top: 10px;
}

#login_btn a {
  text-decoration: none;
  color: #fff;
  display: block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}
#login_btn:hover {
  background: #ffb830;
  color: white;
  transition: 0.5s;
}
#login_btn:hover a {
  color: white;
  transition: 0.5s;
}
.cart {
  width: 100%;
  padding: 1%;
  box-sizing: border-box;
  background: #fff;
  min-height: 480px;
}

.cart form table {
  width: 100%;
}

.cart form table tr th {
  font-size: 14px;
  background: #666;
  height: 40px;
  line-height: 40px;
  padding-left: -10px;
}

.cart form table tr td {
  font-size: 14px;
  height: 60px;
  padding-left: 40px;
  text-decoration: none;
}

.cart form table tr td img {
  width: 50px;
  height: 50px;
}

.cart form table tr td input[type="number"] {
  padding-left: 1%;
  width: 10%;
  height: 30px;
}

.cart form table tr td input[type="submit"] {
  background: #fff;
  color: #000;
  width: 20%;
  height: 30px;
  border: 1px solid #400040;
}

.cart form table tr td input[type="submit"]:hover {
  background: #400040;
  color: #fff;
  cursor: pointer;
}

.coupon h2 {
  font-size: 14px;
  margin-left: 892px;
  display: block;
  position: absolute;
  margin-top: 286px;
}

.coupon input[type="text"] {
  position: absolute;
  width: 12%;
  height: 35px;
  border: 1px solid #400040;
  background: #fff;
  margin-top: 276px;
  margin-left: 1090px;
  border-radius: 3px;
}

.coupon input[type="text"]:focus {
  border: 1px solid #400040;
  text-align: center;
}
#insideDiv {
  display: flex;
  width: 100%;
}
#insideDiv p {
  padding-right: 10px;
}
.image {
  height: 20px;
  margin-right: 5px;
}
.image2 {
  height: 15px;
  margin-right: 5px;
  margin-top: 2px;
}
.contDiv {
  display: flex;
  background: white;
  width: 80px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 3px;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 16%);
}
.linkes {
  text-decoration: none;
  color: #333;
}
.contDiv:hover {
  background: #ffb830;
  transition: 0.9s;
  cursor: default;
}
.slideHead {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}
#gif {
  width: 120px;
  height: auto;
}
.coupon input[type="submit"] {
  position: absolute;
  cursor: pointer;
  width: 8%;
  height: 30px;
  margin-top: 320px;
  margin-left: 1113px;
  border: 1px solid #400040;
  border-radius: 3px;
}

.coupon input[type="submit"]:hover {
  background: #400040;
  color: #fff;
  cursor: pointer;
}

#navbar {
  width: 100%;
  min-width: 500px;
  height: 40px;
  background: #0080fe;
  overflow: hidden;
  padding-top: 60px;
  z-index: 20;
}

#navbar ul {
  list-style-type: none;
  margin-left: 4vw;
}

#navbar ul li {
  padding: 10px;
  height: 25px;
  float: left;
}

#navbar ul li a {
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
}
#navbar ul li a:active {
  color: red;
}
#navbar ul li a:hover {
  transition: 0.5s ease-in-out;
}

#navbar li ul {
  display: none !important;
}

#navbar li:hover ul {
  margin-left: -15px;
  color: #aaa;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #5a5bf3;
  margin-top: 5px;
  display: block !important;
  width: 150px;
  z-index: 999;
  position: absolute;
  transition: 0.9s;
}

#navbar li ul li {
  height: 25px;
  line-height: 35px;
  width: 100%;
}
#navbar li ul li a {
  display: block;
  width: 100%;
  color: #fff;
  padding-left: 20px;
}
#navbar a {
  color: #fff;
  font-family: "Varela Round", sans-serif;
  font-size: 14px;
}

#bodyleft {
  border-radius: 3px;
  width: 85vw;
  background: white;
  margin-left: 5vw;
  margin-right: 5vw;
}

#bodyleft h2 {
  background: #5a5bf3;
  height: 40px;
  text-align: left;
  color: #fff;
  line-height: 40px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

#bodyleft ul {
  list-style-type: none;
  padding-bottom: 1%;
}

#bodyleft ul li {
  margin-top: 5px;
  border-radius: 8px;
  margin-left: 1%;
  background: white;
  float: left;
  width: 31%;
  min-height: 350px;
  border: 1px solid #e9e9e9;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 16%);
}
/*--------------FORMAT---------------------*/
.idNiSha {
  margin-top: 5px;
  border-radius: 8px;
  margin-left: 1%;
  background: #f4f7fa;
  float: left;
  width: 100%;
  height: 380px;
  border: 1px solid #e9e9e9;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 16%);
}
.idNiSha:hover {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.fDogs {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  width: 100%;
  column-gap: 1%;
  margin-left: 1%;
}
.aTag {
  text-decoration: none;
  display: block;
}
.head4 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 15px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 14px;
  color: #555;
}
.fikture {
  padding: 10px;
  width: 95%;
  height: 250px;
}
.btnLinkView {
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 12px;
  border: 1px solid #0080fe;
  color: #0080fe;
  background: white;
  cursor: default;
}
.btnLinkCart {
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 12px;
  border: 1px solid #0080fe;
  color: white;
  background: #0080fe;
}
.prodDet {
  width: 80%;
  margin-left: 10%;
  margin-bottom: 15px;
}
.prays {
  margin-bottom: 15px;
}

/*-------------------------------------*/

#bodyleft ul li:hover {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
#bodyleft ul li a {
  text-decoration: none;
  display: block;
}

#bodyleft ul li a h4 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
}
h4 {
  color: #444;
}

#bodyleft ul li a img {
  width: 100%;
  height: 280px;
}

/*---------------------------------------------*/

#pro_btn {
  width: 30%;
  height: 30px;
  background: #0080fe;
  border-radius: 3px;
  border: 1px solid #0080fe;
  margin-bottom: 25px;
  margin-top: 10px;
  color: white;
}
#pro_btn a {
  font-weight: bold;
}
#pro_btn:hover {
  background: #0080fe;
}

#pro_btn:hover a {
  color: #fff;
  font-weight: bold;
}

#pro_btnView {
  width: 30%;
  height: 30px;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #888;
  color: #888;
  margin-bottom: 25px;
  margin-top: 10px;
}
#pro_btnView a {
  color: #888;
  font-weight: bold;
}

#bodyleft h3 {
  line-height: 35px;
  text-align: left;
  border-radius: 3px;
  height: 35px;
  background: white;
  color: #444;
  padding-left: 5%;
  margin-top: 30px;
  font-family: "Varela Round", sans-serif;
}

#pro_img {
  width: 40%;
  padding: 1%;
  background: #fff;
  float: left;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.mainImage {
  height: 450px;
  width: 100%;
}

#pro_img ul li img {
  width: 80px;
  height: 80px;
  margin-left: 10px;
}

#pro_brand {
  padding: 1%;
  box-sizing: border-box;
  width: 60%;
  height: 550px;
  background: #fff;
  float: left;
}

#pro_brand ul li {
  list-style-type: none;
}

#pro_brand h3 {
  margin-top: 23px;
  text-align: center;
  height: 35px;
  border-bottom: 2px solid #e6e6e6;
}

#pro_brand h4 {
  margin-top: 40px;
  margin-bottom: 20px;
  color: #888;
}

#pro_brand center form button {
  width: 180px;
  height: 35px;
  background: #fff;
  border: 1px solid #400040;
  border-radius: 3px;
}

#pro_brand center form button:hover {
  background: #400040;
  color: #fff;
  cursor: pointer;
}

#buy_now {
  border-radius: 3px;
  width: 180px;
  height: 35px;
  background: #fff;
  border: 1px solid #400040;
}

#buy_now:hover {
  background: #400040;
  color: #fff;
  cursor: pointer;
}

#buy_now a {
  text-decoration: none;
  color: #000;
}

#sim_pro {
  margin-top: 20px;
  background: #fff;
  width: 100%;
  height: 350px;
  padding-bottom: 10px;
}

#sim_pro ul {
  list-style-type: none;
}

#sim_pro ul li:hover {
  border: 1px solid #400040;
  border-radius: 3px;
}

#sim_pro ul li {
  padding: 0.5%;
  border: 1px solid #fff;
  margin-top: 10px;
  float: left;
  margin-left: 20px;
  width: 250px;
  height: 320px;
}

#sim_pro ul li a {
  text-decoration: none;
  color: #000;
}

#sim_pro ul li a img {
  width: 250px;
  height: 250px;
}

#sim_pro ul li a p {
  text-align: center;
}

#sim_pro h3 {
  background: #400040;
  color: #fff;
  height: 40px;
  line-height: 40px;
  padding-left: 2%;
}

#slider {
  width: 100%;
  margin-top: 10px;
  font-weight: bold;
  color: #777;
}

#slideImage {
  width: 100%;
  height: 50vh;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

#bodyright {
  border-radius: 3px;
  width: 28%;
  float: left;
  height: 100vh;
}

#bodyright h2 {
  background: #800080;
  height: 40px;
  text-align: left;
  color: #fff;
  line-height: 40px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

#footer {
  display: flex;
  width: 100%;
  min-width: 500px;
  height: 100px;
  background: #0c0c57;
  border-top: 1px solid #000;
  justify-content: center;
  margin-top: 50vh;
}

/* #footer h2 {
  text-align: center;
  color: #fff;
  line-height: 35px;
} */

#login form table tr td input[type="text"] {
  border-radius: 5px !important;
  width: 40px;
  height: 30px;
  line-height: 30px;
}
.bottomDiv {
  padding: 5px;
  background: white;
  border-radius: 5px;
}

.emptyCart {
  height: 70vh;
  width: 100vw;
  text-align: center;
  margin-top: 10vh;
}
.emptyImage {
  height: 25vh;
  width: 150px;
}
#cartText {
  font-size: 34px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#linkEmpty {
  font-size: 12px;
}

@media (max-width: 780px) {
  .fDogs {
    margin-left: 5%;
    grid-template-columns: 45% 45%;
    column-gap: 5%;
  }
  .fikture {
    height: 150px;
    width: 80%;
  }
  .idNiSha {
    height: 280px;
    margin-bottom: 5%;
  }
  .logo a {
    font-size: 10px;
  }
  #search_btn {
    width: 25px;
  }
}

@media (min-width: 1440px) {
  .fikture {
    width: 80%;
    margin-left: 10%;
  }
}
@media (max-width: 600px) {
  #search {
    width: 80%;
  }
  #logo a {
    display: none;
  }
  #logo {
    padding-left: 20px;
  }
  #cart_btn {
    width: 100%;
    margin-left: 0;
    float: left;
  }
  #header {
    grid-template-columns: 8% 70% 20%;
  }
}
.asd {
  display: flex;
  width: 100%;
}

.icons {
  font-size: 10px;
  color: #777;
  margin-top: 7px;
}
.couponBand {
  width: 30px;
  height: 30px;
  float: right;
}
.band {
  display: flex;
  margin-bottom: 7px;
}
.couponBand {
  width: 30px;
  height: 30px;
  float: right;
}
.band {
  display: flex;
  margin-bottom: 7px;
}
.icons {
  font-size: 10px;
  color: #777;
  margin-top: 7px;
}
