.manage_donation{
    width: 100%;
    

}
.tebs{
    width: 100%;
}
.body{
    margin-top: 7vh;
    background: #fff;

    width: 95%;
    border-radius: 5px;
    padding: 10px;
    margin-left: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

}
p{
    padding: 10px;
}
.selection {
    background: #28287774;
}
.hed{
    font-size: 22px;
    font-weight: bold;
    color: white;
}
#forming{
    display: grid;
    grid-template-columns:  15% 12% 15% 15% 12% 15% 15%;
    font-size: 14px;
    margin-top: 20px;
}
.yopak{
    display: grid;
    grid-template-columns: 15% 12% 15% 15% 12% 15% 15%;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid black;
    
    
}
#aksyon{
    display: flex;
    color: black;
}
.holdest{
    height: 42px;
}
#views{
    height: 30px;
color: #777;
font-weight: bold;
border-radius: 3px;
width: 100px;
background: white;
border: 1px solid #5a5bf3;
margin-left: 5px;
}
#views2{
    height: 30px;
color: #fff;
border-radius: 3px;
width: 100px;
background: #5a5bf3;
border: none;
}

.headLebs{
    font-family: "Varela Round", sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #777;
    text-align: center;
}
.dataLebs{
    font-family: "Varela Round", sans-serif;
    text-align: center;
}
.dataLebss{
    font-family: "Varela Round", sans-serif;
    text-align: left;
}

.mainGrid{
           min-width: 480px;
           width: 80%;
           margin-left: 10%;
           margin-top: 3%;
           padding: 10px;
           border-radius: 5px;
           box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.headGrid{
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: 7% 37% 20% 15% 15%;
}
.dataGrid{
    display: grid;
    grid-template-columns: 7% 37% 20% 15% 15%;
    margin-top: 1%;
    padding: 10px;
    background: #f4f4f4;
    border-radius: 4px;

}
.dataGrid:hover{
    background: #ebebeb;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}